name: Trigger auto deployment for hd-ai-backend

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/hd-ai-backend-AutoDeployTrigger-01324343-2d16-4460-b9fd-e9cd1c69ca21.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.HDAIBACKEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.HDAIBACKEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.HDAIBACKEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: dclchatbot.azurecr.io
          registryUsername: ${{ secrets.HDAIBACKEND_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.HDAIBACKEND_REGISTRY_PASSWORD }}
          containerAppName: hd-ai-backend
          resourceGroup: hd-ai
          imageToBuild: dclchatbot.azurecr.io/hd-ai-backend:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


